[submodule "contrib/deterministic-build/rutanio-electrum-locale"]
	path = contrib/deterministic-build/rutanio-electrum-locale
	url = https://github.com/rutanio/rutanio-electrum-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
